<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Payment Server</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Payment System</h1>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2023 VehicleCart Payment System</p>
    </footer>
</body>
</html>
